body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font‑display: swap;
  overflow-wrap: break-word;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4 {
  margin-top: 0;
}

h1 {
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 300;
  color: rgb(38, 47, 50);
  line-height: 1.444;
  letter-spacing: 1.2px;
}

h1 span:nth-child(1) {
font-weight: 700;
}

h1 span:nth-child(2) {
  font-weight: 400;
}

h2 {
  font-size: 45px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 1.467;
  letter-spacing: 1.35px;
}

h2:not(.beige) {
  color: rgb(255, 255, 255);
}

h2 span {
  font-weight: 700;
}

h3 {
    font-size: 42px;
    font-family: "Roboto";
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 1.571; 
    letter-spacing: 1.26px; 
}

p {
  margin-bottom: 0;
  font-size: 15.57px;
  font-family: "Roboto";
  line-height: 1.9;
  letter-spacing: 1.5px; 
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, minmax(100px, 151.7px));
  grid-template-rows: auto, auto, 427px, 427px, auto, auto;
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
}

header, main, footer { 
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  max-width: 1366px;
  grid-column: span 9;
}

.grid-item {
  padding: 60px 50px 0 55px;
}

.grid-item-bg, .grid-item-blue, .grid-item-black, .grid-item-bage, .grid-item-human, .grid-item-green {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 

.grid-item-blue, .grid-item-black, .grid-item-human, .grid-item-green {
  color: #ffffff;
} 

a, input, textarea {
    font-size: 16.57px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.931;
    letter-spacing: 0.49px;  
}

a:not(.social_icon_link, .logo-link) {
  display: block;
  margin-top: 12px;
  max-width: 210px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
}


/* header */
.portfolio {
  display: grid;
  grid-column: span 6;
  grid-row: span 2;
}

.grid-item-bg {
  background-image: url('../img/photo6.png');
}

/* heder section project */
.project {
  display: grid;
  grid-column: span 3;
  grid-row: span 2;
}

.grid-item-grey {
  padding-top: 0;
  background-color: #f3f3f3;
  padding-bottom: 135px;
}

.grid-item-grey p {
  max-width: 563px;
}

.menu-btn {
  width: 33px;
  height: 33px;
  margin-top: 55px;
  margin-bottom: 70px;
  padding: 0;
  background-image: url(../img/svg/menu.svg);
  background-color: transparent;
  border: none;
}

.menu-btn:hover {
  cursor: pointer;
}

.span {
  display: block;
}


/* main */
/* section sketch */
.sketch {
  display: grid;
  grid-column: span 4;
  grid-row: span 2;
} 

.grid-item-blue {
  background-image: url('../img/photo3.png');
}

.grid-item-blue h2 {
  margin-bottom: 27.35px;
}

.grid-item-blue p {
  margin-bottom: 55px;
}

/* section history */
.history {
  display: grid;
  grid-column: span 5;
  grid-row: span 1;
}

.grid-item-beige {
  background-image: url('../img/photo4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 69px;
}

.grid-item-beige p {
  max-width: 575px;
  letter-spacing: 1.2px;
  margin-bottom: 24px;
}

.history-btn {
  color: #000000;
  border-color:#000000;
}

.history-btn:hover {
  color: #000000;
  border-color:#ffffff;
  background-color: #ffffff;
  transition: ease-in-out 0.3s;
}

/* section dummy */
.dummy {
  display: grid;
  grid-column: span 5;
  grid-row: span 1;
}

.grid-item-black {
  background-image: url('../img/photo5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 68px;
}

.grid-item-black h2 {
  margin-bottom: 20.35px;
}

.grid-item-black p {
  max-width: 576px;
  margin-bottom: 38px;
}

.dummy-btn {
  color: #ffffff;
  border-color:#ffffff;
}

.dummy-btn:hover {
  color: #000000;
  border-color:#ffffff;
  background-color: #ffffff;
  transition: ease-in-out 0.3s;
}


/* footer */

/*footer section form*/
.footer-form {
  display: grid;
  grid-column: span 6;
  grid-row: span 2;

} 

.grid-item-green {
  background-image: url('../img/photo1.png');
  padding-bottom: 68px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.form {
  max-width: 618px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #000000;
}

.form textarea {
  width: 100%;
  min-width: 124px;
  outline: none;
  -moz-appearance: none;
}

.form input {
  width: 49%;
  outline: none;
  -moz-appearance: none;
}

.form input, .form textarea {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 15px;
}

.form button {
  max-width: 150px;
  margin: 0 auto;
  padding: 10px 30px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.form button:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.social-block p:first-child {
  margin-bottom: 20px;
  margin-top: 37px;
}

.social-block p:nth-child(3) {
  margin-top: 27px;
}


/*footer section logo */
.footer-logo {
  display: grid;
  grid-column: span 3;
  grid-row: span 2;
}

.grid-item-human {
  background-image: url('../img/photo2.png');
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.logo-wrap {
  margin-bottom: 70px;
}

.logo-link {
  cursor: pointer;
}

.logo-img {
  margin-bottom: 10px;
}

.grid-item-human p {
  margin-top: 0;
}

.grid-item-human h3 {
  margin-bottom: 0px;
}