@import url("../css/fonts.css");
@import url("../css/svg.css");

body{
  max-width: 1365px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font‑display: swap;
  overflow-wrap: break-word;
}

* {
  box-sizing: border-box;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}




/* header */
.header {
  margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(38, 47, 50);
    line-height: 1.444;
    letter-spacing: 1.2px;
  }

h1 span:first-child {
  font-weight: 700;
}

h1 span:nth-child(2) {
  font-weight: 400;
}

/* header */
header .grid-item:first-child {
  background-image: url('../img/photo6.png');
  background-size: cover;
}

header .grid-item:last-child {
  background-color: #f3f3f3;
}

/* footer */
/*footer section form*/
.footer_form {
  padding-left: 57px;
  background-image: url('../img/photo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*footer section logo */
